 body {
     background-color: beige;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 fieldset {
     background-color: rgba(249, 247, 245, 0.658);
     width: calc(100% - 50%);
     padding: 20px 20px 6px;
     box-shadow: 1px 6px 20px 11px rgba(0, 0, 0, 0.767);
     border-radius: 5%;
 }
 
 input {
     padding: 5px 35%;
 }
 
 h1 {
     text-align: center;
 }
 
 button {
     background-color: blue;
     color: white;
     cursor: pointer;
     font-size: 1rem;
     padding: 10px 40%;
     border-radius: 10px;
     margin: 30px;
 }